
body {
    background-image: url(background.jpeg);
    margin: 0;
    padding: 0;
    height: 100vh;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}


.section-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #003366;
}


.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}


.service {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.service h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #003366;
}

.service p {
    font-size: 1rem;
    color: #555;
}
