
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.container {
    width: 85%;
    margin: 0 auto;
    max-width: 1200px;
}

.logo img {
    height: 155px; 
    width: auto;  
    display: block;
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px; 
    padding: 10px 20px; }

nav {
    background:linear-gradient(150deg, #ac0272, #FAA27D); 
    position: fixed;
    padding: 20px 0;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
nav .logo {
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
}

nav .nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}

nav .nav-links li {
    margin-left: 30px;
}

nav .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav .nav-links a:hover {
    color: #FFD700;
}


.main {
    background-image: url('background.jpeg');
    margin: 0;
    padding: 0;
    height: 100vh;
    background-size: cover;
        
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    animation: fadeIn 1.5s ease-out;
}

.main-content h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.main-content p {
    font-size: 1.5rem;
    margin-bottom: 30px;
    font-weight: 300;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    background-color: #FFD700;
    padding: 15px 40px;
    font-size: 1.2rem;
    color: #333;
    text-decoration: none;
    border-radius: 30px;
    transition: background-color 0.3s ease;
    font-weight: 600;
}

.btn:hover {
    background-color: #ffcc00;
}


.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    animation: fadeIn 1.5s ease-out;
}

.form-container {
    background-color: #fff;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 450px;
    width: 100%;
}

.section-title {
    font-size: 2rem;
    margin-bottom: 30px;
    color: #003366;
    text-align: center;
    font-weight: 600;
}

.login-form form {
    width: 100%;
}

.login-form input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 10px;
    transition: border-color 0.3s ease;
}

.login-form input:focus {
    border-color: #FFD700;
}


.login-form button {
    width: 100%;
    background-color: #FFD700;
    padding: 15px;
    font-size: 1.2rem;
    color: #333;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form button:hover {
    background-color: #ffcc00;
}



.signup-link {
    text-align: center;
    margin-top: 20px;
    font-size: 1rem;
    color: #333;
}

.signup-link a {
    color: #003366;
    text-decoration: none;
    font-weight: 600;
}

.signup-link a:hover {
    text-decoration: underline;
}

